@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chores</h1>
    <br /><br />
    <p class="lead">Chores is a simple to-do list and task manager app to help you administrate your tasks and projects in order to get things done!.</p>
</div>

